<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Product Display</title>
	</head>
	<body>
		<h1>Mongoose Store Products</h1>
        <a href="/products/new">Add a New Product</a>
        <ul>
			<% products.forEach(product => { %>
			<li>
                <a href="/products/<%= product._id; %> "><%=product.name; %></a>
               <img src="<%= product.img; %>" alt="<%= product._id; %>" height="200"/> 
            </li>
			<% }) %>
		</ul>
       <nav>
       </nav>
	</body>
</html>